body {
  justify-content: space-between;
}

.quiz-question {
  align-items: center;
  border-radius: var(--br-xl);
  color: white;
  display: flex;
  flex-direction: column;
  height: fit-content;
  justify-content: space-between;
  margin: 0 auto var(--space-lg);
  width: min(90%, 600px);
}

.quiz-question__title {
  background-color: var(--dark);
  border-top-left-radius: var(--br-xl);
  border-top-right-radius: var(--br-xl);
  width: 100%;
}

.qstnNo-list {
  display: flex;
  gap: var(--space-sm);
  justify-content: center;
  list-style: none;
  padding: 0;
}

.qstnNo-list__item {
  background-color: initial;
  border-radius: var(--br-full);
  border: none;
  color: white;
  cursor: pointer;
  font-size: var(--fs-xs-2);
  height: 50px;
  padding: var(--space-xs);
  width: 50px;
}
.qstnNo-list__item:hover {
  background-color: white;
  color: var(--primary);
  transition: 0.2s ease-in;
} 

.qstnNo-list .active {
  background-color: var(--primary);
  color: white;
  font-weight: var(--fw-5);
}

.quiz-question__nav {
  display: flex;
  justify-content: space-between;
  padding: var(--space-lg) var(--space-lg) 0;
  width: 100%;
  align-items: center;
}

.clock-timer {
  background-color: rgba(0, 0, 0, 0.65);
  border-radius: var(--br-full);
  border: 5px solid var(--primary);
  cursor: default;
  font-size: var(--fs-sm-1);
  font-weight: var(--fw-5);
  height: 60px;
  padding: var(--space-sm);
  width: 60px;
}

.quiz-question__body {
  padding: var(--space-lg);
  text-align: center;
}

.options-list {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

.options-list > li {
  width: 100%;
}

.options-list__item {
  background-color: white;
  border: none;
  border-bottom: 1px solid var(--grey-1);
  color: var(--dark);
  cursor: pointer;
  font-size: var(--fs-xs-2);
  padding: var(--space-sm);
  width: 100%;
}

.options-list__item:hover {
  background-color: var(--primary);
  border-bottom: none;
  box-shadow: var(--bs-sm);
  color: white;
  transform: scale(1.01);
  transition: 0.2s ease-in;
}

.options-list > li:first-child > button:nth-child(1) {
  border-top-left-radius: var(--br-md);
  border-top-right-radius: var(--br-md);
}

.options-list > li:last-child > button:nth-child(1) {
  border-bottom-left-radius: var(--br-md);
  border-bottom-right-radius: var(--br-md);
  border-bottom: none;
}
 
.options-list .correct {
  background-color: var(--success);
  color: white;
}

.options-list .wrong {
  background-color: var(--danger);
  color: white;
}

.results-wrapper {
  -webkit-backdrop-filter: blur(0px);
  backdrop-filter: blur(0px);
  background-color: var(--success);
  border-radius: var(--br-full);
  box-shadow: 0 8px 32px 0 var(--success);
  margin: 0 auto var(--space-lg);
  padding: var(--space-md);
  text-align: center;
  width: min(95%, 600px);
}

.quiz-question__footer {
  display: flex;
  gap: var(--space-xs);
  justify-content: flex-start;
  width: 100%;
  padding: 0 var(--space-lg) var(--space-lg);
  flex-wrap: wrap;
}

.submit-btn {
  margin-left: auto;
}

.results-button-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 var(--space-lg) var(--space-lg);
  width: 100%;
}

.footer {
  margin: 0 auto;
}

.mdl__share .modal__body > p {
  color: var(--dark);
}

@media screen and (max-width: 640px) {
  .main > section {
    padding: 0;
  }

  .main .results-wrapper {
    padding: var(--space-md);
  }

  .quiz-question__footer {
    justify-content: space-between;
  }

  .quiz-question__footer .button {
    flex: 1;
  }

  .submit-btn {
    text-align: center;
  }
}
