.section-heading {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-sm);
  justify-content: flex-start;
 } 

.quizes-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  padding: var(--space-lg) 10%;
  row-gap: var(--space-xl);
}

.quizes-grid .quiz-card {
  justify-self: center;
}


/*
***************** MEDIA QUERIES *****************
*/

@media screen and (max-width: 768px) {
  .main > section {
    justify-content: center;
    padding: var(--space-xl) var(--space-sm);
  }

  .header {
    padding: var(--space-xs);
    width: 95%;
  }
}
