.quiz-rules {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 var(--space-lg) var(--space-lg);
  width: min(95%, 600px);
}

.rules-list {
  border-radius: var(--br-xl);
  box-shadow: var(--bs-xs);
  font-size: var(--fs-sm-1);
  padding: 0;
}

.rules-list__item {
  background-color: var(--light);
  padding: var(--space-sm) var(--space-md);
  transition: 0.2s ease-in;
}

.rules-list__item:hover {
  background-color: white;
  box-shadow: var(--bs-sm);
  transform: scale(1.01);
}

.rules-list__item:first-child {
  border-top-left-radius: var(--br-xl);
  border-top-right-radius: var(--br-xl);
}

.rules-list__item:last-child {
  border-bottom-left-radius: var(--br-xl);
  border-bottom-right-radius: var(--br-xl);
}

.checkbox {
  margin-bottom: var(--space-md);
}

.radio__label {
  color: var(--grey-5);
  font-size: var(--fs-xs-2);
}
 
@media screen and (max-width: 640px) {
  .main > section {
    padding: var(--space-sm);
  }
}
